{% extends 'map/base.html' %}
{% load static %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}

    <h3>Select Connection:</h3>

    <div id="forms">
        <table>
            <form action="{% url 'map:index' %}" method="post">
                {% csrf_token %}
                <tr>
                    {% for field in form %}
                        <th>
                            {{ field }}
                        </th>
                    {% endfor %}
                </tr>
            </form>
        </table>
    </div>

    <div class="map" id="map"></div>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="{% static 'node_modules/leaflet-routing-machine/dist/leaflet-routing-machine.js' %}"></script>
    <script type="text/javascript"></script>

    <!-- Leaflet script -->
    <script type="text/javascript">

        var map = L.map('map').setView([42.35, -71.08], 13);

        L.tileLayer('http://tiles.mapc.org/basemap/{z}/{x}/{y}.png', {
            attribution: 'Tiles by <a href="http://mapc.org">MAPC</a>, Data by <a href="http://mass.gov/mgis">MassGIS</a>',
            maxZoom: 17,
            minZoom: 9
        }).addTo(map);

        {% for point in points %}
            L.marker([{{ point.latitude }}, {{ point.longitude }}]).addTo(map);
        {% endfor %}

        L.Routing.control({
            waypoints: [
                L.latLng({{ beginPoint.latitude }}, {{ beginPoint.longitude }}),
                L.latLng({{ endPoint.latitude }}, {{ endPoint.longitude }})
            ],
            routeWhileDragging: true,
            show: false
        }).addTo(map);

    </script>

{% endblock content %}
